.App {
  font-family: sans-serif;
  text-align: center;
}
.username {
  color: rebeccapurple;
  font-style: italic;
}
.pic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
